#title{
    background-color: pink;
}
.conatiner-fluid{
    padding: 3% 15%;
}
h1{
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}
.image{
    height: 10rem;
    width:10rem;
    margin-left: 43%;
    border-radius: 5%;

}


#education{ 
    padding: 7% 14%;
}
.feature{
    text-align: center;
    padding: 5%;
    position: relative;
    left: 100px;
}
#bio{
    
    text-align: center;
    width: 100%;
    background-color:#ef8172;
}
h4{
    font-size: 3rem;
    line-height: 1.5;
}
.carousel-item{
    padding: 7% 15%;
}
.data{
    font-size: 2vw;
    line-height: 1;
    color: white;
}
.info{
    color: white;
    padding:2%;
}
#footer{
    padding: 7% 15%;
}
.fa{
    display: inline-block;
    align-content:center;
    position: relative;
    
    left:18rem;
    padding: 2% 3%;
}
.fa:hover{
    color: black;
}

